@keyframes inAndOut {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

@keyframes Out {
  0% {
    animation-timing-function: ease-in;
    transform: translateX(0);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 0;
    transform: translateX(-250px);
  }
}

.in {
  animation: inAndOut 1s ease forwards;
}

.exit {
  animation: Out 1s ease forwards;
}
