.blur:hover > div {
  visibility: visible;
  cursor: pointer;
  /* border: "2px solid var(--accent-color) !important"; */

  background: linear-gradient(
    90deg,
    var(--accent-color),
    var(--secondary-color)
  );
}

.blur:hover {
  border: 2px solid var(--accent-color) !important;
}

.blur:hover > img {
  transform: scale(1.05);
}

.blur:hover p {
  animation: in 0.3s ease-in-out forwards;
}

.blur:hover h3 {
  animation: in 0.3s ease-in-out forwards;
}

@keyframes in {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
