.cover {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #fff;
  animation: swipeUp 1s ease-in-out 1s forwards;
}

@keyframes swipeUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
    display: none;
  }
}
