@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,800;0,900;1,600&display=swap");

/* ===== DESIGN TOKENS ===== */
@theme {
  --color-background: #060918;

  --color-primary: #800080;
  --color-secondary: #b803b8;

  --color-surface: rgb(10, 14, 35);
  --color-border: #800080;

  --color-text-primary: #800080;
  --color-text-secondary: #94a3b8;
}

/* ===== BASE LAYER ===== */
@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
    background-color: var(--color-background);
  }

  body {
    @apply bg-[rgb(var(--color-background))] text-white overflow-x-hidden;
  }

  a {
    @apply text-white opacity-80 transition-all duration-300 relative;
  }

  a:hover {
    @apply opacity-100;
  }

  a::after {
    content: "";
    @apply absolute left-0 bottom-0 h-[3px] w-0 bg-primary transition-all duration-300;
  }

  a:hover::after {
    @apply w-full rounded;
  }
}

/* ===== UTILITIES ===== */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 border border-border;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded;
}

/* ===== ANIMATION ===== */
@keyframes swipeUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
